-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: adaptive_assessment
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.28-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `assessment_sessions`
--

DROP TABLE IF EXISTS `assessment_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assessment_sessions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `student_id` bigint(20) NOT NULL,
  `status` enum('IN_PROGRESS','COMPLETED','ABANDONED') DEFAULT 'IN_PROGRESS',
  `topics_assessed` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`topics_assessed`)),
  `current_topic` varchar(100) DEFAULT NULL,
  `current_skill_tag` enum('concept','calculation','application') DEFAULT NULL,
  `current_difficulty` int(11) DEFAULT NULL,
  `started_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `ended_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `student_id` (`student_id`),
  CONSTRAINT `assessment_sessions_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assessment_sessions`
--

LOCK TABLES `assessment_sessions` WRITE;
/*!40000 ALTER TABLE `assessment_sessions` DISABLE KEYS */;
INSERT INTO `assessment_sessions` VALUES (4,1,'ABANDONED','[\"Fractions\"]','Fractions','concept',3,'2026-04-28 03:05:07','2026-04-28 03:39:32'),(6,1,'ABANDONED','[\"Fractions\"]','Fractions','concept',3,'2026-04-28 03:39:32','2026-04-28 03:42:13'),(7,1,'ABANDONED','[\"Fractions\"]','Fractions','concept',3,'2026-04-28 03:42:13','2026-05-07 06:26:28'),(8,3,'IN_PROGRESS','[\"Fractions\"]','Fractions','concept',3,'2026-04-28 06:40:03',NULL),(9,1,'IN_PROGRESS','[\"Fractions\"]','Fractions','concept',3,'2026-05-07 06:26:28',NULL);
/*!40000 ALTER TABLE `assessment_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_bank`
--

DROP TABLE IF EXISTS `question_bank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_bank` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `question_text` text NOT NULL,
  `question_type` enum('MCQ','SHORT_ANSWER','SUBJECTIVE') NOT NULL DEFAULT 'MCQ',
  `option_a` varchar(500) DEFAULT NULL,
  `option_b` varchar(500) DEFAULT NULL,
  `option_c` varchar(500) DEFAULT NULL,
  `option_d` varchar(500) DEFAULT NULL,
  `correct_answer` varchar(10) DEFAULT NULL,
  `topic` varchar(100) NOT NULL,
  `skill_tag` enum('concept','calculation','application') NOT NULL,
  `difficulty` int(11) NOT NULL,
  `times_used` int(11) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `correct_value` varchar(500) DEFAULT NULL,
  `has_image` bit(1) DEFAULT NULL,
  `image_description` text DEFAULT NULL,
  `image_url` varchar(500) DEFAULT NULL,
  `question_format` enum('TEXT_ONLY','TEXT_WITH_IMAGE','IMAGE_ONLY') DEFAULT NULL,
  `source` varchar(200) DEFAULT NULL,
  `subtopic` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `CONSTRAINT_1` CHECK (`difficulty` between 1 and 5)
) ENGINE=InnoDB AUTO_INCREMENT=143 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_bank`
--

LOCK TABLES `question_bank` WRITE;
/*!40000 ALTER TABLE `question_bank` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_bank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reports`
--

DROP TABLE IF EXISTS `reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reports` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `session_id` bigint(20) NOT NULL,
  `student_id` bigint(20) NOT NULL,
  `total_questions` int(11) DEFAULT 0,
  `correct_answers` int(11) DEFAULT 0,
  `scaffolding_events` int(11) DEFAULT 0,
  `summary_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`summary_json`)),
  `generated_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `session_id` (`session_id`),
  KEY `student_id` (`student_id`),
  CONSTRAINT `reports_ibfk_1` FOREIGN KEY (`session_id`) REFERENCES `assessment_sessions` (`id`),
  CONSTRAINT `reports_ibfk_2` FOREIGN KEY (`student_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reports`
--

LOCK TABLES `reports` WRITE;
/*!40000 ALTER TABLE `reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scaffolding_log`
--

DROP TABLE IF EXISTS `scaffolding_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scaffolding_log` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `session_id` bigint(20) NOT NULL,
  `original_question_id` bigint(20) NOT NULL,
  `generated_question` text NOT NULL,
  `student_answer` varchar(500) DEFAULT NULL,
  `is_correct` tinyint(1) DEFAULT NULL,
  `attempt_number` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `session_id` (`session_id`),
  KEY `original_question_id` (`original_question_id`),
  CONSTRAINT `scaffolding_log_ibfk_1` FOREIGN KEY (`session_id`) REFERENCES `assessment_sessions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `scaffolding_log_ibfk_2` FOREIGN KEY (`original_question_id`) REFERENCES `question_bank` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scaffolding_log`
--

LOCK TABLES `scaffolding_log` WRITE;
/*!40000 ALTER TABLE `scaffolding_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `scaffolding_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `session_answers`
--

DROP TABLE IF EXISTS `session_answers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `session_answers` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `session_id` bigint(20) NOT NULL,
  `question_id` bigint(20) NOT NULL,
  `topic` varchar(100) NOT NULL,
  `skill_tag` enum('concept','calculation','application') NOT NULL,
  `difficulty` int(11) NOT NULL,
  `student_answer` varchar(500) DEFAULT NULL,
  `is_correct` tinyint(1) NOT NULL,
  `scaffolding_triggered` tinyint(1) DEFAULT 0,
  `time_taken_seconds` int(11) DEFAULT NULL,
  `answered_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `session_id` (`session_id`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `session_answers_ibfk_1` FOREIGN KEY (`session_id`) REFERENCES `assessment_sessions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `session_answers_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `question_bank` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `session_answers`
--

LOCK TABLES `session_answers` WRITE;
/*!40000 ALTER TABLE `session_answers` DISABLE KEYS */;
INSERT INTO `session_answers` VALUES (2,7,109,'Fractions','concept',3,'B',1,0,8,'2026-04-28 03:42:43'),(3,7,109,'Fractions','concept',3,'A',0,0,8,'2026-04-28 03:43:10'),(4,8,111,'Fractions','concept',3,NULL,0,0,NULL,'2026-04-28 06:41:58'),(5,9,111,'Fractions','concept',3,NULL,0,0,NULL,'2026-05-07 06:31:38');
/*!40000 ALTER TABLE `session_answers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill_mastery`
--

DROP TABLE IF EXISTS `skill_mastery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skill_mastery` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `student_id` bigint(20) NOT NULL,
  `topic` varchar(100) NOT NULL,
  `skill_tag` enum('concept','calculation','application') NOT NULL,
  `status` enum('NOT_ASSESSED','STRONG','DEVELOPING','NEEDS_SUPPORT') DEFAULT 'NOT_ASSESSED',
  `accuracy` double DEFAULT 0,
  `total_attempts` int(11) DEFAULT 0,
  `correct_attempts` int(11) DEFAULT 0,
  `scaffolding_count` int(11) DEFAULT 0,
  `last_updated` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_student_topic_skill` (`student_id`,`topic`,`skill_tag`),
  UNIQUE KEY `UK32d9mk7ijefurrwwyrlnkxfdb` (`student_id`,`topic`,`skill_tag`),
  CONSTRAINT `skill_mastery_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill_mastery`
--

LOCK TABLES `skill_mastery` WRITE;
/*!40000 ALTER TABLE `skill_mastery` DISABLE KEYS */;
/*!40000 ALTER TABLE `skill_mastery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_profiles`
--

DROP TABLE IF EXISTS `student_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_profiles` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `grade_level` varchar(20) DEFAULT NULL,
  `assigned_topics` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`assigned_topics`)),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `student_profiles_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_profiles`
--

LOCK TABLES `student_profiles` WRITE;
/*!40000 ALTER TABLE `student_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `theta_estimates`
--

DROP TABLE IF EXISTS `theta_estimates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `theta_estimates` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `student_id` bigint(20) NOT NULL,
  `topic` varchar(100) NOT NULL,
  `current_theta` double DEFAULT 3,
  `last_updated` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_student_topic` (`student_id`,`topic`),
  UNIQUE KEY `UKkvxdwainh335t3snf6pslid4t` (`student_id`,`topic`),
  CONSTRAINT `theta_estimates_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `theta_estimates`
--

LOCK TABLES `theta_estimates` WRITE;
/*!40000 ALTER TABLE `theta_estimates` DISABLE KEYS */;
/*!40000 ALTER TABLE `theta_estimates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(200) NOT NULL,
  `email` varchar(200) NOT NULL,
  `password` varchar(500) NOT NULL,
  `role` enum('ADMIN','STUDENT') NOT NULL DEFAULT 'STUDENT',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Test Student','student@test.com','$2a$10$qX55swb81P4F/MtC3.Haie/o1E9Es8m8.TURVzoEjPf2dZCVdOpdC','STUDENT','2026-04-26 23:33:32'),(2,'Admin User','admin@test.com','$2a$10$7ebJwu2JxWVfjRa8DgjxUego3lizVM.H7b4CZeZr3nkGGiaVlDx.K','ADMIN','2026-04-26 23:46:34'),(3,'test2','test2@gmail.com','$2a$10$KiHd.xbWL.DDnL6./.LmBecbhcQg4F6buQtGTUDb8PD33NbMZbEtS','STUDENT','2026-04-28 06:38:15');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-11 14:26:54
